/* Font loading: https://medium.com/@thanhnht_66044/how-to-self-host-fonts-in-gatsby-37b781fa96d9 */

/* Cabana font from https://adrien-coquet.com/ */

/* Fox & Cat font from https://www.graphicpear.com/fox-cat-typeface/ */

@font-face {
  font-family: "Cabana";
  src: url("Cabana-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Fox & Cat";
  src: url("Fox\ &\ Cat.ttf") format("truetype");
  font-display: swap;
}